// $highlightColor: #3a3b3d;

$red: #EC2622;
$orange: #f76d3c;
$yellow: #f7d842;
$green: #2DD34E;
$blue: #2A4FFD;
$purple: #7e43e2;

$offWhite: #ebeaf5;
$gray: #96969e;
$darkGray: #4f475d;

$purpleHover: #9160e7;